<div class="row justify-content-center mt-5" >
    <div class="col-md-8">
        <h1>Olá,</h1>
    </div>
</div>

<div class="row justify-content-center" >
    <div class="col-md-8">
        <h3>Para iniciarmos as configurações do banco são:</h3>
    </div>
</div>

<div class="row justify-content-center" >
    <div class="col-md-8">
        <img width="100%" src="../../../assets/appSetings.JPG">
    </div>
</div>

<div class="row justify-content-center" >
    <div class="col-md-8">
        <h4>Altere a propriedade "Data Source" para a instancia de banco de dados SQL Server desejada.</h4>
        <h4>A propriedade "Initial Catalog" Possui o nome do banco de dados escolhido por mim, caso deseje pode alterar, mas deve criar um banco com o mesmo nome configurado nesta propriedade.</h4>
    </div>
</div>


<div class="row justify-content-center  mt-5" >
    <div class="col-md-8">
        <h4>Na janela "Console do Gerenciador de Pacotes execute o comando: update-database</h4>
    </div>
</div>
<div class="row justify-content-center" >
    <div class="col-md-8">
        <img width="100%" src="../../../assets/console.JPG">
    </div>
</div>

