<div class="row my-3">
    <div class="col-md-12">
        <a class="btn btn-primary" routerLink="adicionar">Adicionar</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Comandos</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Numero</th>
                    <th>Bairro</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ListaClientes">
                    <td>
                        <button class="btn btn-danger btn-sm mx-1" (click)="Excluir(item.id)"><i class="icon-trash"></i></button>
                        <a class="btn btn-danger btn-sm mx-1" [routerLink]="['editar', item.id]"><i class="icon-pencil"></i></a>
                    </td>
                    <td>{{item.nome}}</td>
                    <td>{{item.endereco}}</td>
                    <td>{{item.numero}}</td>
                    <td>{{item.bairro}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
